* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.counter__button {
  width: 45px;
  height: 45px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  background: transparent;
}
.counter__value {
  font-size: 30px;
  line-height: 40px;
  margin: 0 15px;
}
